@font-face {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/RobotoMono-Regular.ttf") format("truetype");
}

html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #1f1f1f;
    width: 100vw;
    height: 100vh;
}
